cloudformation/workflow.asl.json
{
    "StartAt": "Generate jobs",
    "States": {
        "Generate jobs": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:::function:instance-advisor-initialize",
            "Catch":[
                {
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.Error",
                    "Next": "Fail"
                }
            ],
            "Next": "Response Time Analysis"
        },
        "Response Time Analysis": {
            "Type": "Map",
            "ItemsPath": "$.Jobs",
            "MaxConcurrency": 0,
            "Iterator": {
              "StartAt": "Rate Limit Handling",
              "States": {
                "Rate Limit Handling": {
                    "Type": "Wait",
                    "SecondsPath": "$.WaitLimit",
                    "Next": "Create Endpoint Config"
                },
                "Create Endpoint Config": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::sagemaker:createEndpointConfig",
                    "Parameters":{
                      "EndpointConfigName.$": "$.EndpointName",
                      "ProductionVariants": [ 
                        { 
                          "InitialInstanceCount": 1,
                          "InstanceType.$": "$.InstanceDetails.instanceName",
                          "ModelName.$": "$.ModelName",
                          "VariantName.$": "$.VariantName"
                        }
                      ]
                    },
                    "ResultPath": null,
                    "Next":"Create Endpoint"
                },
                "Create Endpoint":{
                    "Type":"Task",
                    "Resource":"arn:aws:states:::sagemaker:createEndpoint",
                    "Parameters":{
                      "EndpointConfigName.$": "$.EndpointName",
                      "EndpointName.$": "$.EndpointName"
                    },
                    "ResultPath": null,
                    "Next": "Get endpoint status"
                },
                "Get endpoint status":{
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:::function:instance-advisor-status",
                    "Next": "If Endpoint Ready"
                },
                "If Endpoint Ready": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.EndpointStatus",
                      "StringEquals": "InService",
                      "Next": "Test Response Time"
                    }
                  ],
                  "Default": "Wait 20s"
                },
                "Wait 20s": {
                  "Type": "Wait",
                  "Seconds": 20,
                  "Next": "Get endpoint status"
                },
                "Test Response Time": {
                    "Type": "Task",
                    "Resource":"arn:aws:states:::states:startExecution.sync",
                    "Parameters":{  
                        "StateMachineArn":"arn:aws:states:::stateMachine:distributed-locust-orchestration-flow",
                        "Input": {
                            "JobDetails.$": "$.DistributedLocust.JobDetails",
                            "Jobs.$": "$.DistributedLocust.Jobs"
                        }
                    },
                    "ResultPath": null,
                    "Next": "Clean-up"
                },
                "Clean-up": {
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:::function:instance-advisor-cleanup",
                    "End": true
                }
              }
            },
            "Catch":[
                {
                    "ErrorEquals":["States.ALL"],
                    "ResultPath":"$.error",
                    "Next":"Fail"
                }
            ],
            "ResultPath": null,
            "Next": "Recommend"
        },
        "Recommend": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:::function:instance-advisor-recommend",
            "Next": "Success"
        },
        "Success": {
            "Type": "Succeed"
        },
        "Fail": {
            "Type": "Fail"
        }
    }
  }